
* {box-sizing: border-box; margin: 0px; font-family: "baloo", sans-serif; font-size: 1em;}

h1 {font-size: 5rem; color:  chartreuse; font-weight: 100; text-align: center; }

h2{font-size: 2.2rem; font-weight: 400;
  margin-top: 3%; color: blueviolet;}

p {font-family: "Raleway", sans-serif; font-size: 1.1rem; 
  line-height: 1.5; text-align: justify; margin: 3%; color: rgb(104, 35, 170);}

/*DESKTOP style
============================================================================================*/

.headerBanner {width: 100%; padding: 20px;
background-color: blueviolet;
border-top: solid 10pt rgb(109, 32, 182); border-bottom: solid 10pt rgb(109, 32, 182);}

.mainBanner {width: 100%; text-align: center;}

.blogContenedor {margin-left: 10%; margin-right: 10%;}

nav {display: flex; list-style: none; justify-content: center;font-size: 1.5rem;}

a.clase1 {text-decoration: none; color:  blueviolet;}
a.clase1:link {text-decoration: none; color:  blueviolet;}
a.clase1:hover {text-decoration: none; color:  chartreuse;}

table {margin-left: 25%;}

/*Mobil style
============================================================================================*/
@media (max-width: 1024px) {
  h1 {font-size: 2rem; color:  chartreuse; font-weight: 100; text-align: center; }

  h2{font-size: 1.1rem; font-weight: 400;
    margin-top: 3%; color: blueviolet;}
  
  p {font-family: "Raleway", sans-serif; font-size: 1rem; 
    line-height: 1.5; margin: 3%; color: rgb(104, 35, 170);}

  nav {display: block; list-style: none; justify-content: center; margin-left: 10px; font-size: 1.2rem;}
}