* {box-sizing: border-box; margin: 0px;
  
    font-size: 1em;
  }
  
  
  p {
    font-size: 1.26rem;
    font-weight: 300;
    box-sizing: border-box;
    line-height: 1.5;
    }
  
  
  A.class1 {color: rgb(248, 156, 8);}
  A.class1:link  {text-decoration: none; color: rgb(248, 156, 8);}
  A.class1:visited {text-decoration: none; color: black;}
  A.class1:hover {text-decoration: none; color: rgb(248, 156, 8);}
  A.class1:active {text-decoration: none; color: rgb(248, 156, 8);}
  
  
  A.class2 {color:  rgb(14, 151, 241);}
  A.class2:link  {text-decoration: none; color: rgb(14, 151, 241);}
  A.class2:visited {text-decoration: none; color:  rgb(14, 151, 241);}
  A.class2:hover {text-decoration: underline; color:  rgb(14, 151, 241);}
  A.class2:active {text-decoration: none; color:  rgb(14, 151, 241);}
  
  A.class3 {color: rgb(14, 151, 241);}
  A.class3:link  {text-decoration: none; color: rgb(14, 151, 241);}
  A.class3:visited {text-decoration: none; color: rgb(14, 151, 241);}
  A.class3:hover {text-decoration: underline; color: rgb(14, 151, 241);}
  A.class3:active {text-decoration: none; color: rgb(14, 151, 241);}

 


  
  body {
    
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    max-width: 1600px;
  }
  
 

/*header
============================================================================*/

  .contenedorHeader {   
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0px;
    background-color: whitesmoke; 
    box-shadow:0 0 30px rgba(14, 0, 0, 0.3);
    }
  
  .logo a:hover, a:link, a:active, a:visited {
      text-decoration: none;
      color: rgb(248, 156, 8);}
  
  .logo {  
    float: left; 
    margin-left: 9%;  
    margin-top: 8px;  
    color: rgb(12, 12, 11);
    font-size: 2rem;
    font-weight: 300;   
  }
    
  nav { 
    position: absolute;
    background-color: brown;    
    
      margin-left: 50px;
      list-style: none;
      float: left;
      margin-top: 50px;
      box-sizing: border-box;
      width: 125px;      
    } 
  
  .slogan {
    position: absolute;
    z-index: -2;
    box-sizing: border-box;
   
   
    width: 100%; height: auto;
  }
 
.responsiveImage {width: 100%;  height: auto; box-sizing: border-box; padding: 2%;background: white;}

img {pointer-events: none;}
 
     
  
/*Main
============================================================================*/
 
.titulosMain {
  font-family: 'Montserrat', sans-serif;
  text-align: right;
  position: absolute;
  width: 40%;
  top: 370px;
  right: 40px;
  z-index: 1;
  color:  white;
  font-size: 3.2rem;
  font-weight: 700;
  padding: 30px;
  }

  .highlight {
    background: rgb(25, 26, 25);
    font-size: 7rem;

       align-items: flex-end;   
        line-height: .70;
        border-radius: 2px;
        display:inline-block;
    }

   

  .titulosMain1 {
    font-family: 'Montserrat', sans-serif; font-size: 3.2rem;
    font-weight: 700;
    text-align: right;
    position: absolute;
    width: 40%;
    top: 650px;
    right: 140px;
    z-index: 1;
    color:  whitesmoke;
    
    padding: 30px;
    }

  .contenedorArticuloMain {color: rgb(58, 56, 56);
    position: absolute;
    width: 300px;
    top: 540px;
    right: 70px;
    z-index: 3;
    text-align: right; 
    padding: 5px;}


    
.contenedorMainPrecios {
    display: block;
    position: relative;
    width: 80%;    
    margin-left: 200px;
    margin-right: 200px;
    
    box-sizing: border-box;
    font-weight: 300;
    font-style: normal;
   top: 800px;
  }    

  .titulos {
    line-height: 3;
    color:  black;
    font-size: 3rem;
    font-weight: 300;
  }
  
  .contenedorQueEsHexis {
    float: left;
    width: 50%;
    box-sizing: border-box;
    margin: 70px auto;
  }
  .cajaVideoHexis {width: 100%; height: auto; margin-top: 40%;}
  .bannerFlotante {
    float: right;
    width: 45%;
    box-sizing: border-box;
    margin: 70px auto;
  }

    
/*Grid
============================================================================*/


.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  max-width: 50%;
  padding: 20px;
}

.column img {
  margin-top: 20px;
  vertical-align: middle;
}
    

  /*Footer
============================================================================*/

.footerPrecios {background-color: lightslategrey;
  line-height: 1.7;
	border-top: 3.3px dotted #000;
	border-bottom: 3.3px dotted #000;
	box-shadow: inset 0 -1px 0 0 #000, inset 0 1px 0 0 #000, 0 1px 0 0 #000, 0 -1px 0 0 #000;
  margin-bottom: 1px;
  margin-top: 800px;
}

.footer1 {background-color: lightslategrey;
  line-height: 1.7;
	border-top: 3.3px dotted #000;
	border-bottom: 3.3px dotted #000;
	box-shadow: inset 0 -1px 0 0 #000, inset 0 1px 0 0 #000, 0 1px 0 0 #000, 0 -1px 0 0 #000;
	margin-bottom: 1px;
}

.footer2 {background-color: lightpink;
  line-height: 1.7;
	border-top: 3.3px dotted #000;
	border-bottom: 3.3px dotted #000;
	box-shadow: inset 0 -1px 0 0 #000, inset 0 1px 0 0 #000, 0 1px 0 0 #000, 0 -1px 0 0 #000;
	margin-bottom: 1px;
}
.footer3  {background-color: lightgreen;
  line-height: 1.7;
	border-top: 3.3px dotted #000;
	border-bottom: 3.3px dotted #000;
	box-shadow: inset 0 -1px 0 0 #000, inset 0 1px 0 0 #000, 0 1px 0 0 #000, 0 -1px 0 0 #000;
	margin-bottom: 1px;
}
.footer4  {background-color: lightseagreen;
  line-height: 1.7;
	border-top: 3.3px dotted #000;
	border-bottom: 3.3px dotted #000;
	box-shadow: inset 0 -1px 0 0 #000, inset 0 1px 0 0 #000, 0 1px 0 0 #000, 0 -1px 0 0 #000;
	margin-bottom: 1px;
}

  

  /*BANNER telephone
  ====================================================================================================*/
  .bannerCall {width: 100%; height: 500px; clear: both;}

  .bannerCallWallUp {width: 100%; height: 300px;
  background-color: rgb(207, 230, 245);}
  .bannerCallWallDown {width: 100%; height: 200px;
    background-color:  rgb(151, 208, 246);}
  .bannerCallDerecha {width: 60%; height: 500px; float: right; margin-top: 45px;}
  .bannerCallIzquierda {width: 40%; height: 500px; float: left; text-align: center; margin-top: 220px;}


/*Convocatoria
  ====================================================================================================*/

.contenedorConvocatoria {text-align: center;}

.botonParticipar {margin-left: 45%; margin-right: 45%; min-height: 35px; border: solid 1px orange; margin-bottom: 80px;}
.bannerObjetivo {padding: 3%; margin-right: 20%; margin-left: 20%; background-color: rgb(248, 238, 220);}
.contenedorPorqueHexis {background-color: azure; margin-left: 20%; margin-right: 20%; padding: 2%;}
.contenedorPerfiles {background-color: azure; margin-left: 20%; margin-right: 20%; padding: 2%;}
.bannerPerfil {padding: 3%; margin-right: 5%; margin-left: 5%; background-color: rgb(248, 238, 220);}

  /* MEDIA queries
  ================================================================================================================================================*/
  
  @media (max-width:  1024px){



    .column {
      -ms-flex: 50%; /* IE10 */
      flex: 100%;
      max-width: 100%;
      padding: 20px;
    }

  nav { 
    position: absolute;
    background-color: brown;    
    z-index: -1;
      margin-left: 15px;
      list-style: none;
      float: left;
      margin-top: 20px;
      box-sizing: border-box;
      width: 100px;      
    } 

    .titulosMain {
      font-family: 'Montserrat', sans-serif;
      text-align: center;      
      margin-top: -40%;
      width: 80%;
      
      color:  black;
      font-size: 1.5rem;
      font-weight: 600;
      padding: 30px;
      }
    
      .contenedorArticuloMain {color: rgb(58, 56, 56);
        text-align: center;
        width: 80%;
        top: 340px;
        right: 55px;
        z-index: 3;
        background-color: rgb(218, 213, 213);
        line-height: 1.5;
        padding: 5px; height: auto;}
        
    
    .contenedorMainPrecios {
        display: block;        
        width: 97%;    
       margin: 3px;
        
        box-sizing: border-box;
        font-weight: 300;
        font-style: normal;
       top: 400px;
      }    
      .footerPrecios {background-color: lightskyblue;
        line-height: 1.7;
        border-top: 3.3px dotted #000;
        border-bottom: 3.3px dotted #000;
        box-shadow: inset 0 -1px 0 0 #000, inset 0 1px 0 0 #000, 0 1px 0 0 #000, 0 -1px 0 0 #000;
        margin-bottom: 1px;
        margin-top: 400px;
      }
    
  
      .titulos {
        line-height: 2;
        color:  black;
        font-size: 2rem;
        font-weight: 300;
      }

      .highlight {
        background: rgb(25, 26, 25);
        font-size: 2rem;
    
           align-items: flex-end;   
            line-height: .70;
            border-radius: 2px;
            display:inline-block;
        }
    
       
    
      .titulosMain1 {
        font-family: 'Montserrat', sans-serif; font-size: 6rem;
        font-weight: 500;        
        position: absolute;
        
        top: 250px;
        
        z-index: 1;
        color:  whitesmoke;
        
        padding: 20px;
        }
    

    
  

   

          /*Convocatoria
  ====================================================================================================*/

.contenedorConvocatoria {text-align: center;}

.botonParticipar {min-width: 180px; max-width: 90%; margin-left: 5%; margin-right: 5%; min-height: 35px; border: solid 1px orange; margin-bottom: 80px;}
.bannerObjetivo {padding: 3%; margin-right: 4%; margin-left: 4%; background-color: rgb(248, 238, 220);}
.contenedorPorqueHexis {background-color: azure; margin-right: 4%; margin-left: 4%;  padding: 2%;}
.contenedorPerfiles {background-color: azure; margin-right: 4%; margin-left: 4%;  padding: 2%;}
.bannerPerfil {padding: 3%; margin-right: 2%; margin-left: 2%; background-color: rgb(248, 238, 220);}

 /*FOOTER mobile MEDIA queries
  ====================================================================================================*/
.contenedorFooter {display: flex; flex-direction: column; padding: 2rem;
clear: both;min-width: 300px; border-top: 0.4rem solid rgb(14, 151, 241);}
    
.contenedorSubscribirse {max-width: 380px;float: left;
padding: 1rem;outline: 0.2rem solid rgb(14, 151, 241);}
    
.redesFooter {max-width: 180px;float: left;padding: 2.5%;
border: .1rem solid  rgb(248, 156, 8);color: rgb(14, 151, 241);}
    
.contenedorAdress {width: 100%;text-align: center;float: left;
font-size: 1rem;font-weight: 400;font-style: normal;padding: 1rem;}
}